@model IEnumerable<Cookbook.Models.Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<h1>Manage Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>